:root {
    --grey-200: #f2f1f2;

    --white: #fff;

    --primary-600: #2c3e50;

    
    --text-clr: var(--primary-600);
    --pri-bg-clr: var(--white);
    --sec-bg-clr: var(--grey-200);
    /* --ter-bg-clr: var(--grey-200); */
  
}